<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>948963145889-pj84uua1u6qsta15n1hc4h89tgerp530.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.948963145889-pj84uua1u6qsta15n1hc4h89tgerp530</string>
	<key>API_KEY</key>
	<string>AIzaSyDEu4pl1tLGmvcxD9Eh7_6GJiO6cLdJtiA</string>
	<key>GCM_SENDER_ID</key>
	<string>948963145889</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.sustainabilityApp</string>
	<key>PROJECT_ID</key>
	<string>sustainability-app-6f466</string>
	<key>STORAGE_BUCKET</key>
	<string>sustainability-app-6f466.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:948963145889:ios:edcd626d45b3fa103118e0</string>
</dict>
</plist>